<div class="container">
  <header>
    <h1>WoowahanJS</h1>
  </header>
  <p>
    woowahanjs is a JavaScript framework for developing large web applications. 
    It supports hierarchical view component management and productive UI operations.
  </p>

  <nav>
    <ul>
      <li><a href="#" class="active">Getting started</a></li>
      <li><a href="https://ibare.gitbooks.io/woowahanjs/">Document</a></li>
      <li><a href="https://github.com/woowabros/WoowahanJS">Github</a></li>
      <li><a href="https://www.npmjs.com/package/woowahan">NPM</a></li>
      <li><a href="https://www.npmjs.com/search?q=woowahan">Middleware & package</a></li>
    </ul>
  </nav>

  <div class="contents">
    
  </div>

  <footer>
    <ul>
      <li>© 2017 <a href="http://www.woowahan.com">WoowaBros, Inc.</a></li>
    </ul>
  </footer>
</div>
