body {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 50px;

  font-family: monospace;
  font-size: 2em;
}

#app {
  width: 30em;
}

header + p {
  color: #555;
}

nav {
  margin-top: 3em;
}

ul {
  padding-left: 1em;
}

ul li {
  font-size: 0.7em;
  margin-bottom: 0.6em;
}

footer {
  margin-top: 3em;
  font-size: 0.7em;
  color: #888;
}

footer ul {
  list-style: none;
  padding: 0;
}

pre {
  font-weight: lighter;
  font-size: 0.7em;
  background: #f0f0f0;
}

a {
  color: black;
  padding: 2px 2px 2px 2px;
  text-decoration: none;
}

a.active {
  border-bottom: 3px solid #2ac1bc;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: black;  
}